
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #f0f8f2, #d9f7e1, #c0f5d0, #a6f3bf, #89f1af, #86f1b0, #83f2b2, #80f2b3, #9bf4c4, #b4f6d4, #cef7e3, #e7f8f0);
}

/* HEADER Y BARRA DE NAVEGACION */
    
.header {
    background-color: #006100;
    max-width: 100%;
    height: 90px;
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 


.header-cursos {
    background-color: #006100;
    max-width: 100%;
    height: 90px;
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.header-nosotros {
    background-color: #006100;
    max-width: 100%;
    height: 90px;
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.header-skills {
    background-color: #006100;
    max-width: 100%;
    height: 90px;
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo {
    margin-left: 20px;
    color: #F9FAFC;
    font-weight: 600;
    font-size: 25px;
}


.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: background-color 0.3s;
}


/* CONTENIDO DENTRO DEL HEADER */

.header-content {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.header-content h1 {
    font-size: 75px; 
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.header-content h2 {
    font-size: 25px;
    color: #000000;
    padding: 0 250px;
   
    
}


.imagenes-container{
    padding: 10px 30px;
}


.imagenes {
    width: 90%;
    margin: 20px;
    border: 10px solid #006100;
    text-align: center;
    padding: 20px;
    background-color: #006100;
    float: left;
    
}

.imagenes img{
    margin-top: 20px;
    width: auto;
    height: 300px;
}

.imagenes .btn{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.imagenes .btn--black:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}


/* CURSOS */

.imagenes-cursos {
    width: 30%;
    margin: 20px;
    border: 10px solid #006100;
    text-align: center;
    padding: 20px;
    background-color: #006100;
    float: left;
    
}

.imagenes-cursos img{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.imagenes-cursos .btn{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.imagenes-cursos .btn--black:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

/* SKILLS */

.imagenes-skills {
    width: 30%;
    margin: 20px;
    border: 10px solid #3131D3;
    text-align: center;
    padding: 20px;
    background-color: #3131D3;
    float: left;  
}

.imagenes-skills img{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.imagenes-skills .btn{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.imagenes-skills .btn--black:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

/* SECCION GENERAL */

.bloque {
    display: flex;
    text-align: center;
}

.bloque2 {
    width: 50%;
}

.descripcion {
    margin-top: 0px;
    padding: 30px; 
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.descripcion-container{
    text-align: center;
    margin-bottom: 30px;
}

.descripcion h2 p{
    font-size: 50px;
    color: #000000;
    margin-bottom: 0px;
    width: 100%;
}


h2 {
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 28px;
}

p {
    font-size: 16px;
    color: #000000;
    margin: 25px 0 45px 0;
}

.nosotros-contacto {
    display: flex;
    align-items: center;
}

.nosotros-contacto iframe{
    margin-left: 50px;
}

form {

    background-color: #006100;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	max-width: 600px;

    width: 100%; 

    margin: 20px;

}


label {

    display: block;

    margin-bottom: 8px;

    color: #000000;

}



input, textarea {

    width: 100%;

    padding: 10px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 5px;

}



input[type="number"], input[type="text"], input[type="email"] {

    background-color: #f9f9f9;

}



button {

    width: 100%;

    padding: 10px;

    background-color: #5cb85c;

    border: none;

    color: white;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

}



button:hover {

    background-color: #4cae4c;

}
